// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gold-text{
	color:#c3a343;
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient(transparent, transparent),
	url(gold-bronze.jpg) repeat;
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
}

.italic {
	font-style: italic;
}
